from flask import Flask, request, jsonify
from discord_webhook import DiscordWebhook
import os 

app = Flask(__name__)
Discord_Webhook = "{{ lookup('ansible.builtin.env', 'Discord_Webhook') }}"

@app.route('/log', methods=['POST'])
def receive_log():
    # print("receive")
    if request.is_json:
        
        data = request.get_json()
        command = data.get('command')
        hostname = data.get('hostname') #don't leave hard coded 
        username = data.get('username')
        webhook = DiscordWebhook(url="{{ webhook }}",
                                 content=f"Command: {command}, Hostname: {hostname}, Username: {username}",
                                 rate_limit_retry=True
                                 )
        try:
            response = webhook.execute()
        except Exception as e:
            print(f"Exception {e}")
        print(response)
        print(f"Host {hostname} ran {command}")
        return f"Host {hostname} ran {command}"
        #Incorporate discord webhook