from flask import Flask, request, jsonify
from discord_webhook import DiscordWebhook
import os 
import base64
import json
# from cryptography.hazmat.primitives.ciphers import Cipher, algorithms, modes
# from cryptography.hazmat.primitives import padding
# from cryptography.hazmat.backends import default_backend

# PSK = "0feNcM1h9Cx2mWAopX6Rq8WZ9sHUvQG4TthfgCL2lk0="





app = Flask(__name__)
Discord_Webhook = "{{ lookup('ansible.builtin.env', 'Discord_Webhook') }}"

@app.route('/log', methods=['POST'])
def receive_log():
    # print("receive")
    if request.is_json:
    # test
        data = request.get_json()
        # base_data = request.get_json()
        # encrypted_data = base_data.get("d")
        # if not encrypted_data:
        #     print("No data")
        # data = decrypt_payload(encrypted_data)
        command = data.get('command')
        hostname = data.get('hostname') #don't leave hard coded 
        username = data.get('username')
        webhook = DiscordWebhook(url="{{ webhook }}",
                                 content=f"Command: {command}, Hostname: {hostname}, Username: {username}",
                                 rate_limit_retry=True
                                 )
        try:
            response = webhook.execute()
        except Exception as e:
            print(f"Exception {e}")
        print(response)
        print(f"Host {hostname} ran {command}")
        return f""
        # return
        #Incorporate discord webhook

# def _get_key() -> bytes:
#     return base64.b64decode(PSK)

# def decrypt_payload(encrypted_b64: str) -> dict:

#     raw = base64.b64decode(encrypted_b64)
#     iv = raw[:16]
#     ciphertext = raw[16:]

#     cipher = Cipher(algorithms.AES(_get_key()), modes.CBC(iv), backend=default_backend())
#     decryptor = cipher.decryptor()
#     padded = decryptor.update(ciphertext) + decryptor.finalize()

#     unpadder = padding.PKCS7(128).unpadder()
#     plaintext = unpadder.update(padded) + unpadder.finalize()

#     inner = json.loads(plaintext.decode("utf-8"))

#     result = {}
#     for short_name, value in inner.items():
#         real_name = FIELD_MAP.get(short_name, short_name)
#         result[real_name] = value

#     return result