from flask import Flask, request, jsonify
from discord_webhook import DiscordWebhook
import os 
import base64
import json
import threading
import queue


from discord_worker import log_queue
from server_utils import decrypt_payload # check

PSK = "0feNcM1h9Cx2mWAopX6Rq8WZ9sHUvQG4TthfgCL2lk0="



app = Flask(__name__)
Discord_Webhook = "{{ lookup('ansible.builtin.env', 'Discord_Webhook') }}"

@app.route('/log', methods=['POST'])
def receive_log():
    # print("receive")
    if request.is_json:
    # test
        # data = request.get_json()
        base_data = request.get_json()
        encrypted_data = base_data.get("d")
        if not encrypted_data:
            print("No data")
            return "No data", 400

        try:
            data = decrypt_payload(encrypted_data)
        except Exception as e:
            print(f"Decryption failed: {e}")
            return "Decryption failed", 400        
        
        command = data.get('command')
        ip = data.get('ip')
        hostname = data.get('hostname', 'unknown') #don't leave hard coded 
        username = data.get('username', 'unknown')

        log_queue.put({
            "command": command,
            "ip": ip,
            "hostname": hostname,
            "username": username
        })
        
        print(f"Queued log from {hostname} - {username}")
        return "", 200

